body{
    max-width: 1265px;


}
.h3, h3{
    font-size: 3rem;
    font-weight: 200;
}



.logo{
  margin-left: -30px;
  line-height: 10px;
  margin-top: 20px;
}
.item{
  margin-right: -84px;
  margin-left: -70px;
}
.carousel-caption{

    top: 30px;

    padding-top: 40px;
}


.panel-heading a{
  text-decoration: none;
}

.first article{
    margin: 0 auto;
    background-color: white);
    border: 1px solid rgb(255,90,95);
    opacity: 1;
    border-radius: 8px;

}

.first a{
    color: rgb(255,90,95) ;
}

.first a:hover{

    font-weight: 1000;
}

.first article:hover {


    border-bottom: 4px solid rgb(255,90,95);

}

.second article{
    background-color: white);
    border: 1px solid rgb(255,90,95);
    opacity: 1;
    border-radius: 8px;
}

.second a{
    color: rgb(255,90,95) ;
}

.second article:hover {


    border-bottom: 4px solid rgb(255,90,95);

}

.panel-body a{
    color: rgb(255,90,95);
}





@media(max-width:768px){
.logo{
  margin-left: -5px;
}

.fa-arrow-circle-down {
   display: none;}

  .fa-arrow-circle-up {
   display: none;}


.carousel-caption{
        margin-top: -80px;
        font-weight: 2rem;
    }
    .first {
        margin-left: 30px;

    }
    .first article{
         margin-bottom: 20px;
    }
    .item{
        margin-right: -14px;

    }

};

@media(max-width: 768px)
 {
   .service article {
margin: 90px;
  }

}
